#user-ui {
  position: absolute;
  display: block;
  overflow: hidden;

  video, canvas, img, button, a {
    position: absolute;
  }

  #btn-capture {
    top: 50px;
    left: 80px;
  }

  #btn-save {
    top: 50px;
    left: 80px;
    display: none;
  }

  #btn-again {
    top: 50px;
    right: 80px;
    display: none;
  }

  video, canvas, img {
    top: 0;
    left: 0;
  }
}

